.card {
  min-width: 300px;
  padding: 12px;
}

.header {
  font-size: 14px;
  color: #aeaeae;
}

.driver__id {
  color: #ef4941;
}

.driver__image {
  border-radius: 50%;
}

.body {
  margin-top: 24px;
}

.title {
  font-size: 11px;
  color: #858585;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
}

@media screen and (max-width: 425px) {
  .card {
    min-width: unset;
  }
}
