.header {
  margin: 12px;
  padding: 12px 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: #ef4941;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}

.header__subtitle {
  color: #858585;
  font-size: 12px;
}

.search__input {
  width: 30%;
}

.driver__list {
  display: flex;
  overflow-x: auto;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .header {
    display: block;
  }

  .search__input {
    width: 100%;
    padding-bottom: 12px;
  }

  .driver__list {
    display: block;
  }
}
